# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

LOG_LEVEL=info